{# tiedostoa muutettu 3.2.2016 #}

{# In this file all variables inside {{}} will be replaced by Jinja2 template engine with actual data #}

{% extends 'base.html' %}
{% block title %}Friends{{super()}}{% endblock %}
{% block head %}
    {{super()}}
    <style>
        .my_container{
            
            width: 500px;
            margin: 30px auto;
            padding: 8px;
            border: 2px solid gray;
            border-radius: 5px;
            background-color: beige;
        }
    </style>
{% endblock %}
{% block navbar %}{{super()}}{% endblock %}
{% block body %}
    {{super()}}
    <div class="my_container">
        <h1>Here will be table of your friends</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {# friends tulee routers.py:ssä olevasta templaten kutsurakenteesta, siellä välitettiin friends #}
                {% for item in friends %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.age}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
